Stock Market - Analysis Phase

1- Import Libraries

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

2- Load the dataset

In [ ]:
df = pd.read_csv("data/sp500.csv")

In [ ]:
df.head()
# there is a price column but without price values , no Date and Adj Close columns, first 2 rows are mess,

In [ ]:
df.describe()

2(a) - Fix Loading issues

In [21]:
df=pd.read_csv("data/sp500.csv",skiprows=2)

In [ ]:
df.head()

2(b)- Rename the columns

In [27]:
df.columns=["Date","Close","High","Low","Open","Volume"]

In [ ]:
df.head()

In [ ]:
df.info()
# Date was object type and I changed it to datetime type (next cell)

2(c)- Date datatype; from object to datetime

In [30]:
df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
df.info()

In [32]:
df.head()

        Date  Close   High    Low   Open   Volume
0 1950-01-03  16.66  16.66  16.66  16.66  1260000
1 1950-01-04  16.85  16.85  16.85  16.85  1890000
2 1950-01-05  16.93  16.93  16.93  16.93  2550000
3 1950-01-06  16.98  16.98  16.98  16.98  2010000
4 1950-01-09  17.08  17.08  17.08  17.08  2520000

2(d)- Sort and Indexing

In [ ]:
df = df.sort_values("Date")
df=df.set_index("Date") # now Date is the index of my dataset

In [35]:
df.head()

            Close   High    Low   Open   Volume
Date
1950-01-03  16.66  16.66  16.66  16.66  1260000
1950-01-04  16.85  16.85  16.85  16.85  1890000
1950-01-05  16.93  16.93  16.93  16.93  2550000
1950-01-06  16.98  16.98  16.98  16.98  2010000
1950-01-09  17.08  17.08  17.08  17.08  2520000